* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 20%;
    background-color: #000;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

ul img {
    width: 100%; /*100% of ul width */
    opacity: 0.60;
}

ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 35px 0;
    background-color: #222;
    border: 1px solid #000;
    letter-spacing: 1px;
}

ul li i {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

ul li a.home {
    background-color: #000;
    border: 2px solid #222;
}

/* NAVIGATION HOVER */

ul li a:hover {
    background-color: #000;
}

ul li a.home:hover {
    background-color: #fff;
    color: #000;
}

/* MAIN CONTENT */

.container {
    width: 80%;
    height: 100%;
    float: right;
    overflow: auto;
    background-color: #000;
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
}

.container .row-one h1 {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    font-size: 64px;
}

.container .row-one p {
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-size: 15px;
}

.container .row-one img {
    width: 100%;
    padding: 5px;
    opacity: 0.60;
}

.container .row-two h2 {
    color: #f1f1f1;
    padding-bottom: 10px;
    font-size: 30px;
}

.container .row-two p {
    color: #757575;
    padding-top: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.container .row-two .skills { /* first h3 */
    color: #f1f1f1;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
}

.container .row-two h6 {
    color: #757575;
    letter-spacing: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container .row-two .block span {
    height: 28px;
    width: 80%;
    background-color: #616161;
    display: block;
}

.container .row-two .block {
    height: 28px;
    width: 100%;
    background-color: #fff;
}

.container .row-two .stats {
    background-color: #f1f1f1;
    height: 122px;
    margin-top: 25px;
}

.container .row-two .stats .quarter {
    float: left;
    width: 24.9999%;
    text-align: center;
    font-size: 16px;
    height: 122px;
    padding-top: 30px;
    line-height: 1.5;
}

.container .row-two .stats .quarter span {
    font-size: 24px;
}

.container .row-two button {
    background-color: #f1f1f1;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 162px;
}

.container .row-two button i {
    padding: 12px 24px;
    display: block;
}

.container .row-two button i:hover {
    background-color: #ddd;
    cursor: pointer;
}

.container .row-two .price {
    color: #f1f1f1;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 10px 0;
    font-size: 24px;
}

.container .row-two .chart1 {
    background-color: #fff;
    width: 49.99%;
    height: 550px;
    float: left;
    border-right: 10px solid #000;
    text-align: center;
    opacity: 0.60;
}

.container .row-two .chart1:hover {
    opacity: 1;
}

.container .row-two .chart2 {
    background-color: #fff;
    width: 49.99%;
    height: 550px;
    float: left;
    border-left: 10px solid #000;
    text-align: center;
    opacity: 0.60;
}

.container .row-two .chart2:hover {
    opacity: 1;
}

.container .row-two .chart1 p {
    text-align: center;
    font-size: 15px;
    line-height: 2;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 16px;
}

.container .row-two .chart1 > :first-child {
    background-color: #616161;
    padding: 28px 16px;
    color: #fff;
    font-size: 24px;
}

.container .row-two .chart2 p {
    text-align: center;
    font-size: 15px;
    line-height: 2;
    border-bottom: 1px solid #ddd;
    color: #000;
    padding: 16px;
}

.container .row-two .chart2 > :first-child {
    background-color: #616161;
    padding: 28px 16px;
    color: #fff;
    font-size: 24px;
}

.container .row-two .chart1 .last span {
    display: block;
    font-size: 30px;
    color: #000;
}

.container .row-two .chart2 .last span {
    display: block;
    font-size: 30px;
}

.container .row-two .chart1 button {
    height: 8%;
    width: 35%;
    font-size: 14px;
}

.container .row-two .chart1 button:hover {
    background-color: #000;
    color: #fff;
}

.container .row-two .chart2 button {
    height: 8%;
    width: 35%;
    font-size: 14px;
}

.container .row-two .chart2 button:hover {
    background-color: #000;
    color: #fff;
}

.container .row-two .reputation {
    color: #fff;
}

.container .row-two .reputation h3 {
    font-size: 24px;
    float: left;
    width: 100%;
    margin-top: 35px;
}

.container .row-two .reputation .circles {
    width: 100%;
    float: left;
    padding: 15px;
    margin-top: 10px;
}

.container .row-two .reputation img {
    opacity: 0.60;
    float: left;
    margin-right: 10px;
}

.container .row-two .reputation span {
    display: block;
    line-height: 1.5;
    color: #757575;
    font-size: 18px;
}

/* ROW THREE */

.container .row-three h2 {
    color: #f1f1f1;
    font-size: 30px;
    float: left;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 15px;
}

.container .row-three hr {
    margin-bottom: 15px;
}

.container .row-three img {
    float: left;
}

.container .row-three .one {
    width: 42.5%;
    margin-right: 2.5%;
}

.container .row-three .two {
    width: 55%;
    margin-bottom: 2.5%;
}

.container .row-three .three {
    width: 72.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.container .row-three .four {
    width: 25%;
}

.container .row-three .five {
    width: 32.5%;
    margin-right: 2.5%;
}

.container .row-three .six {
    width: 65%;
    margin-bottom: 2.5%;
}

.container .row-three .seven {
    width: 100%;
}

/* ROW FOUR */

.container .row-four h2 {
    font-size: 30px;
    float: left;
    color: #f1f1f1;
    margin-top: 75px;
    margin-bottom: 20px;
    width: 100%;
}

.container .row-four hr {
    margin-bottom: 15px;
}

.container .row-four p {
    color: #757575;
    font-size: 15px;
}

.container .row-four i {
    color: #fff;
    margin-right: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 36px;
}

.container .row-four .form {
    margin-bottom: 10px;
}

.container .row-four input {
    width: 100%;
    padding: 16px 8px 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
}

.container .row-four button {
    font-size: 15px;
    background-color: #f1f1f1;
}

.container .row-four button:hover {
    background-color: #ccc;
    cursor: pointer;
}

.container .row-four button i {
    color: #000;
    font-size: 15px;
    width: 100%;
}

.container .row-four .icons {
    margin-top: 50px;
    margin-bottom: 25px;
}

.container .row-four .icons i {
    color: #757575;
    font-size: 36px;
}

.container .row-four .icons i:hover {
    color: #222;
    cursor: pointer;
}

.container .row-four a {
    color: #757575;
}

.container .row-four a:hover {
    color: #4CAF50;
}

.container .row-four .bottom {
    margin-bottom: 64px;
}


